<nav class="container">
  <div class="header">
    <img src="../../../assets/LOGO/Netflix_Logo_PMS.png" width="100px" height="50px" class="warner">
    <ul class="list">
      <li>Inicio</li>
      <li>Series</li>
      <li>Películas</li>
      <li>Novedades populares</li>
      <li>Mi lista</li>
      <li>Explorar por idiomas</li>
    </ul>
  </div>
  <ul class="container2"> 
    <div class="icons">
      <img src="/assets/Icons/zoom-32.png" width="20px" height="20px">
      <img src="../../../assets/LOGO/campana.png" width="20px" height="20px">
      <img src="../../../assets//Icons/user.png" width="30px" height="30px">
    </div>
  </ul>
</nav>
<img src="../../../assets/Merlina.jpg" class="image">
<div class="description">
  <p>Inteligente, sarcástica y un poco muerta por dentro, Merlina Addams investiga una ola de asesinatos mientras hace nuevos amigos (y enemigos) en la Academia</p>
</div> 
<p class="title">WEDNESDAY</p>
<button class="button">▶︎ Reproducir</button>
<button class="button2"><img src="../../../assets/Icons/ifno.png" width="40px" height="40px">Más información</button>